.GeneralForm {
    background-color: $colorGreyLight;
    padding: 20px;
    border: 1px solid $colorOrange;
}



.GeneralInput, .GeneralSelect {
    background-color: $colorCornSilk;
    margin: 10px 0;
}

.GeneralInput-active, .GeneralSelect-active {
    background-color: $colorYellow;
}

.GeneralInput_error, .GeneralSelect_error {
    color: $colorRed;
}