.GeneralForm {
    background-color: $colorGreyLight;
    padding: 20px;
    border: 1px solid $colorOrange;
}



.GeneralInput {
    background-color: $colorCornSilk;
    margin: 10px 0;
}

.GeneralInput-active {
    background-color: $colorYellow;
}