/**
 * These are general css helpers
 */

/* Padding Helpers */
.h_padding-0 {padding: 0;}
.h_padding-t-0 {padding-top: 0;}
.h_padding-r-0 {padding-right: 0;}
.h_padding-b-0 {padding-bottom: 0;}
.h_padding-l-0 {padding-left: 0;}

.h_padding-10px {padding: 10px;}
.h_padding-t-10px {padding-top: 10px;}
.h_padding-r-10px {padding-right: 10px;}
.h_padding-b-10px {padding-bottom: 10px;}
.h_padding-l-10 {padding-left:10px;}

.h_padding-20px {padding: 20px;}
.h_padding-t-20px {padding-top: 20px;}
.h_padding-r-20px {padding-right: 20px;}
.h_padding-b-20px {padding-bottom: 20px;}
.h_padding-l-20 {padding-left:20px;}

.h_padding-30px {padding: 30px;}
.h_padding-t-30px {padding-top: 30px;}
.h_padding-r-30px {padding-right: 30px;}
.h_padding-b-30px {padding-bottom: 30px;}
.h_padding-l-30 {padding-left:30px;}

.h_padding-40px {padding: 40px;}
.h_padding-t-40px {padding-top: 40px;}
.h_padding-r-40px {padding-right: 40px;}
.h_padding-b-40px {padding-bottom: 40px;}
.h_padding-l-40 {padding-left:40px;}


/* Margin Helpers */
.h_margin-0 {margin: 0;}
.h_margin-t-0 {margin-top: 0;}
.h_margin-r-0 {margin-right: 0;}
.h_margin-b-0 {margin-bottom: 0;}
.h_margin-l-0 {margin-left: 0;}

.h_margin-10px {margin: 10px;}
.h_margin-t-10px {margin-top: 10px;}
.h_margin-r-10px {margin-right: 10px;}
.h_margin-b-10px {margin-bottom: 10px;}
.h_margin-l-10 {margin-left:10px;}

.h_margin-20px {margin: 20px;}
.h_margin-t-20px {margin-top: 20px;}
.h_margin-r-20px {margin-right: 20px;}
.h_margin-b-20px {margin-bottom: 20px;}
.h_margin-l-20 {margin-left:20px;}

.h_margin-30px {margin: 30px;}
.h_margin-t-30px {margin-top: 30px;}
.h_margin-r-30px {margin-right: 30px;}
.h_margin-b-30px {margin-bottom: 30px;}
.h_margin-l-30 {margin-left:30px;}

.h_margin-40px {margin: 40px;}
.h_margin-t-40px {margin-top: 40px;}
.h_margin-r-40px {margin-right: 40px;}
.h_margin-b-40px {margin-bottom: 40px;}
.h_margin-l-40 {margin-left:40px;}


/* This will hide the spinner on thbe input. */
input.h_noSpinnerOnInput::-webkit-outer-spin-button,
input.h_noSpinnerOnInput::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}