div.ListItem {
    background: red;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-content: stretch;
    flex-wrap: nowrap;
    margin: 10px 0;
}

div.ListItem_left {
    background-color: orange;
    flex-grow: 3;
    padding: 5px;
    display: flex;
    justify-content: left;
    align-items: center;

}
div.ListItem_right {
    background-color: yellow;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
}